{% extends 'HeticSiteBundle::layout.html.twig' %}

{% block javascripts %}
        {{ parent() }}
    {% javascripts '@HeticSiteBundle/Resources/public/js/index.js' filter="cssrewrite" %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

{% endblock %}

{% block content %}

    <div class="" id="orders">
        <h2><i class="glyphicon glyphicon-th-large"></i> Vos Dernières Commandes</h2>
        {% for i in 1..4 %}
            <div class="media">
                <div class="btn-group pull-right">
                    <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-plus"></i> Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a>Traiter</a></li>
                        <li><a>Annuler</a></li>
                    </ul>
                </div>
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placekitten.com/g/150/75" alt="...">
                </a>

                <div class="media-body">
                    <h4 class="media-heading"><a href="">Media heading</a></h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris accumsan est et sapien pretium
                        pretium. Pellentesque et faucibus eros. Vivamus ut sem turpis.</p>

                    <p>
                        <a href="" class="btn-xs btn btn-danger pull-right"><i
                                    class="glyphicon glyphicon-chevron-right"></i> Voir la commande</a>
                    </p>
                </div>
            </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
{% endblock %}

